@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
#header-principal{
    height: 80px;
    background-color: black;
}
.mar-pad{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    max-width: 1522px !important;
}
#sec1{
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(116,33,168,1) 100%);
    display: grid;
    color: black;
    place-items: center;
    font-size: 150px;
    font-family: 'Pacifico', cursive;
}
#sec1 > h1{
    font-size: 150px;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
    color: black;
    font-family: 'Pacifico', cursive;
    font-size: 50px;

}
.overlay-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.imagenes{
    position: relative;
    z-index: 0;

}
#sec2 img{
    width: 100%;
    height: auto;
}
#sec3 img{
    width: 100%;
    height: auto;
}
.imagen-top{
    position: relative;
    height: 144px;
    margin-top: -50px;
    overflow: hidden;
}

#sec3 > h1{
    font-size: 150px;
}
.gale{
    display: flex !important;
    width: 1000px !important;
    height: 600px !important;
}
.gale img{
    width: 0 !important;
    flex-grow: 1 !important;
    object-fit: cover !important;
    opacity: .8 !important;
    transition: .5s ease !important;
}
.gale img:hover{
    cursor: crosshair !important;
    width: 300px !important;
    opacity: 1 !important;
    filter: contrast(120%) !important;
}
.img-principal{
    margin-top: 15px;
}
.menu-nav{
    float: right;
}
.menu-nav > ul {
    list-style-type: none;
    overflow: hidden;
    display: block;
}
.menu-nav > ul > li {
    float: left;
}
.menu-nav > ul > li > a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 25px 35px;
}
.menu-nav > ul > li > a:hover{
    background-color: #f8f9fa3b;
}

.dropdown-menu{
    --bs-dropdown-link-color: #ffffff !important;
    --bs-dropdown-link-hover-color: #ffffff !important;
    --bs-dropdown-link-hover-bg: #f8f9fa3b !important;
    background-color: black !important;
}
.accordion{
    --bs-accordion-color: #ffffff !important;
    --bs-accordion-bg: #000 !important;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(78 81 86 / 41%) !important;
}
.accordion-button{
    color: #ffffff !important;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(116,33,168,1) 100%); !important;
}